
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: gotham-bold;
  src: url(/assets/fonts/GothamBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: gotham-light;
  src: url(/assets/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvetica-light;
  src: url(/assets/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvetica-medium;
  src: url(/assets/fonts/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: helvetica-bold;
  src: url(/assets/fonts/HelveticaNeue-Bold.ttf);
}

.font-gotham-light {
  font-family: "gotham-light", "gotham-bold", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-gotham-bold {
  font-weight: 400;
}

.font-helvetica-light {
  font-family: "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica-medium {
  font-family: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica-bold {
  font-family: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;
}

body {
  font-family: "gotham-bold", "gotham-light", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
  overflow-x: hidden;
}

/* NAVBAR */
.nav-black {
  /* height: 55px; */
  padding: 10px 0 10px 0;
  background-color: #080707;
}

.font__on__small {
  font-size: 0.9rem;
}

.home-icon {
  background: #d35266;
}

.color-red {
  color: #d35266;
}

.search__btn {
  color: white;
  border-radius: 10px;
  background-color: black;
}

.nav__items__list {
  width: 80%;
}

.width__small {
  width: 75px;
}

.width__small_collection {
  width: 130px;
}

.width__small_purchase_list {
  width: 140px;
}

.width__music__small {
  width: 70px;
}

.post__add {
  background-color: #d35266;
  color: white;
}

.color__grey {
  color: #888;
}

/* SECTION__ZERO */
h2 {
  font-size: 1rem;
}

/* SECTION__ONE */
.section__one {
  margin-bottom: -30px;
}

.main__section__one {
  background-color: #d35266;
  height: 280px;
}

.first__form__content {
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin-right: 10px;
}

.first__form {
  flex-direction: row;
  padding-top: 80px;
  justify-content: center;
}

.dropdown__zero,
.search__for {
  border-right: 2px solid #d35266;
}

.dropdown-toggle {
  padding-right: 100px;
}

.search__for {
  padding-right: 100px;
}

.country {
  padding-right: 50px;
}

/* SLIDE SECTION */
.purchase__price__color {
  background-color: #d35266;
  width: 55%;
}

.price__border {
  border-right: 2px solid rgb(172, 4, 4);
  padding: 0 30px 0 10px;
}

/* SECTION SLIDE */
h3 {
  font-size: 1rem;
}

.first__article,
.second__article {
  /* width: 98%; */
}

.same__size__images {
  width: 550px;
  height: 300px;
}

.mixer__image {
  width: 500px;
  height: 300px;
}

.te {
  font-size: 2rem;
  color: #d35266;
}

.arrow-direction {
  position: relative;
  border: 1px solid #dee2e6;
  border-radius: 100%;
  padding: 0 27px 0 15px;
  width: 25px;
  height: 45px;
  bottom: 180px;
  left: 20px;
  text-align: center;
}

.arrow-direction-right {
  position: relative;
  border: 1px solid #ebeef1;
  border-radius: 100%;
  padding: 0 27px 0 15px;
  width: 25px;
  height: 45px;
  bottom: 210px;
  left: 95%;
  text-align: center;
}

/* SECTION OF PICTURES */
.fixed__height__two {
  width: 100%;
  height: 250px;
}

.fixed__height__three {
  width: 100%;
  height: 250px;
}

.color-helvetica-black {
  color: rgb(97, 95, 95);
}

.grey__background {
  background-color: #f8f2f2;

  /* margin-top: -100px; */
}

.less__than {
  position: relative;
  left: 20px;
  bottom: 300px;
  font-size: 2rem;
  width: 25px;
}

.greater__than {
  position: relative;
  left: 95%;
  bottom: 355px;
  font-size: 2rem;
  width: 25px;
}

.heading__four {
  font-size: 1rem;
  margin-left: 140px;
  border-bottom: 1px solid rgb(185, 176, 176);
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 80%;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 10px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: white;
  background-color: rgb(34, 32, 32);
}

.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover .dropbtn { background-color: #c3c7c3; }

/* FOOTER */
.categories__heading {
  border-bottom: 1px solid #d35266;
}

.grey__background__end {
  padding-bottom: 100px;
  background-color: red;
}

.display__one__point {
  font-size: 1.5rem;
}

@media (max-width: 567px) {
  .dropdown-toggle {
    padding-right: 0;
  }

  .search__for {
    padding-right: 0;
  }

  .country {
    padding-right: 0;
  }

  .width__music__small {
    width: 43px;
  }

  .width__small {
    width: 50px;
  }

  .width__small_collection {
    width: 90px;
  }

  .width__small_purchase_list {
    width: 90px;
  }

  .font__on__small {
    font-size: 0.5rem;
  }

  .nav__items__list {
    width: 100%;
  }

  .first__form__content {
    flex-direction: column;
    width: 100%;
  }

  .first__form {
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .search__btn {
    width: 35%;
    margin-top: 10px;
  }

  .dropdown__zero,
  .search__for {
    border-bottom: 1px solid #d35266;
    border-right: none;
  }

  .main__section__one {
    height: 400px;
  }

  .post__add {
    display: none;
  }

  .purchase__price__color {
    width: 90%;
  }

  .all__variety {
    padding-top: 15px;
  }

  .arrow-direction {
    left: 1px;
  }

  .arrow-direction-right {
    left: 90%;
  }

  .same__size__images {
    width: 620px;
  }

  .heading__four {
    font-size: 1rem;
    margin-left: 10px;
    border-bottom: 1px solid rgb(185, 176, 176);
    margin-bottom: 20px;
    width: 90%;
  }

  .grid-container {
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
  }

  .footer-copyright {
    flex-direction: column;
  }

  .less__than,
  .greater__than {
    display: none;
  }
}

@media (min-width: 567px) and (max-width: 768px) {
  .main__section__one {
    height: 400px;
  }

  .font__on__small {
    font-size: 0.6rem;
  }

  .nav__items__list {
    width: 100%;
  }

  .width__small {
    width: 50px;
  }

  .width__music__small {
    width: 45px;
  }

  .width__small_collection {
    width: 100px;
  }

  .width__small_purchase_list {
    width: 100px;
  }

  .first__form__content {
    flex-direction: column;
    width: 100%;
  }

  .first__form {
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .search__btn {
    width: 30%;
    margin-top: 10px;
  }

  .dropdown__zero,
  .search__for {
    border-bottom: 1px solid #d35266;
  }

  .purchase__price__color {
    background-color: #d35266;
    width: 65%;
    width: 70%;
  }

  .same__size__images {
    height: 370px;
  }

  .mixer__image {
    height: 370px;
  }

  .grid-container {
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
  }

  .footer-copyright {
    flex-direction: column;
  }

  .heading__four {
    margin-left: 17px;
    width: 95%;
  }

  .less__than {
    left: 10px;
  }

  .greater__than {
    left: 96.5%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .same__size__images {
    height: 350px;
  }

  .mixer__image {
    height: 350px;
  }

  .purchase__price__color {
    /* background-color: #d35266; */
    width: 80%;
  }

  .ropdown-toggle,
  .search__for,
  .country {
    font-size: 0.8rem;
  }

  .nav__items__list {
    width: 85%;
  }

  .width__small_purchase_list {
    width: 120px;
  }

  .font__on__small {
    font-size: 0.7rem;
  }

  .width__small {
    width: 57px;
  }

  .width__music__small {
    width: 55px;
  }

  .width__small_collection {
    width: 110px;
  }

  .greater__than {
    left: 96.5%;
  }
}
