
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: gotham-bold;
  src: url(/assets/fonts/GothamBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: gotham-light;
  src: url(/assets/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvetica-light;
  src: url(/assets/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvetica-medium;
  src: url(/assets/fonts/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: helvetica-bold;
  src: url(/assets/fonts/HelveticaNeue-Bold.ttf);
}

.font-gotham-light {
  font-family: "gotham-light", "gotham-bold", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.gotham-bold {
  font-weight: 400;
}

.font-helvetica-light {
  font-family: "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica-medium {
  font-family: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica-bold {
  font-family: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;
}

body {
  font-family: "gotham-bold", "gotham-light", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}
/* NAVBAR */
.nav-black {
  /* height: 55px; */
  padding: 10px 0 10px 0;
  background-color: #080707;
}
.font__on__small{
  font-size: 0.8rem;
}
.home-icon {
  background: #d35266;
}

.color-red {
  color: #d35266;
}
.search__btn {
  border-radius: 10px;
  color: white;
  background-color: black;
}
.nav__items__list{
  width: 80%;
}
.width__small {
  width: 75px;
} 
 .width__small_collection{
  width: 130px;
} 
.width__small_purchase_list{
  width: 140px;
} 
.width__music__small{
  width: 70px;
}
.post__add {
  background-color: #d35266;
  color: white;
}
.color__grey{
  color: #888;
}
/* SECTION__ONE */
.header__one__contain{
  width: 80%;
  /* margin-left: 10%; */
}
h2{
  font-size: 1rem;
}
.section__one {
  margin-bottom: -30px; 
}
.main__section__one{
  background-color: #d35266;
  height: 190px;
}

.first__form__content{
  flex-direction: row;
  justify-content: space-around;
   width: 100%;
   margin-right: 10px;
}
.first__form{
  flex-direction: row;
  padding-top: 20px;
  width: 100%;
}
.dropdown__zero,
.search__for{
  border-right: 2px solid #d35266;
}
.dropdown-toggle{
  padding-right: 100px;

}
.search__for {
  padding-right: 15%;
}
.country{
 
   padding-right: 10%;
}
/* ALL ITMES */
.d-grid {
  display: grid;
  grid-template-columns: 20% 80%;
}
.all__items{
  background-color: #f8f2f2;
}

.fixed__images__heigth {
  height: 175px;
  }
  
.d-grid-two{
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 20px;
  height: 250px;
  padding-left: 10px;
}
.price__button{
  padding: 5px;
}
.top__seller__button{
  width: 25px;
  padding-left: 7px;
}
.guitar__caption__font{
  font-size: 0.9rem;
}
.arrow_left{
  width: 20px;
  position: relative;
  bottom: 34px;
  padding-left: 5px;
  left: 85%;
}
.arrow_right{
  position: relative;
  width: 20px;
  padding-left: 5px;
  left: 90%;
  bottom: 58px;
  
}
.uniform__padding__right{
  padding-right: 4%;
}
.page__number{
  border: 1px solid rgb(184, 181, 181);
  width: 25px;
  padding-left: 7px;
  background-color: white;
  margin-left: 10px;
}
.bg__color__red {
  background-color:  #d35266;
}
/* FOOTER */
.categories__heading {
  border-bottom: 1px solid #d35266;
}

.grey__background__end {
  padding-bottom: 100px;
  background-color: red;
}

.display__one__point {
  font-size: 1.5rem;
}
@media (max-width: 567px){
  .dropdown-toggle{
    padding-right: 0;
  
  }
   .header__one__contain{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  } 
  h1{
    text-align: center;
  }
  .search__for {
    padding-right: 0;
  }
  .country{
    padding-right: 0;
  }
  .width__music__small{
    width: 43px;
  }
   .width__small {
     width: 50px;
  } 
  .width__small_collection{
    width: 90px;
  }
  .width__small_purchase_list{
    width: 90px;
  }
  /* label{
    font-size: 0.7rem;
  } */
  .side__nav{
   margin-left: auto;
   margin-right: auto;
  } 
  .font__on__small{
    font-size: 0.5rem;
  }
  .nav__items__list{
    width: 100%;
  }
  .first__form__content{
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .first__form{
    flex-direction: column;
  }
  .search__btn{
    width: 35%;
    margin-top: 10px;
  }
  .dropdown__zero,
.search__for{
  border-bottom: 1px solid #d35266;
}
.main__section__one{
  height: 320px;
}
.dropdown__zero,
.search__for{
  border-right: none;
}
.post__add{
  display: none;
}
.purchase__price__color{
  width: 90%;
}
.all__variety{
  padding-top: 15px;
}
.d-grid{
  display: flex;
  flex-direction: column;
}

.first__form{
  width: 90%;
   margin-left: auto;
  margin-right: auto; 
}
.arrow_left,
.arrow_right{
  display: none;
}
.d-grid-two{
  display: flex;
  flex-direction: column;
  height: auto;
}
.footer-copyright {
  flex-direction: column;
}
.uniform__padding__right{
  padding-right: 10px;
  padding-bottom: 15px;
}
}
@media (min-width: 567px) and (max-width: 768px){
    /* body {
  display: none;
}    */

  .header__one__contain {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .main__section__one{
    height: 400px;
  }
  .font__on__small{
    font-size: 0.6rem;
  }
  .nav__items__list{
    width: 100%;
  }
  .width__small {
    width: 50px;
 } 
 .width__music__small{
  width: 45px;
 }
 .width__small_collection{
   width: 100px;
 }
 .width__small_purchase_list{
   width: 100px;
 }
 .first__form__content{
  flex-direction: column;
  width: 100%;
}
.first__form{
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}
.search__btn{
  width: 30%;
  margin-top: 10px;
}
.dropdown__zero,
.search__for{
  border-bottom: 1px solid #d35266;
}
.purchase__price__color{
  background-color: #d35266;
  width: 65%;
}
.published__date{
  padding-right: 10px;
  /* background-color: #080707; */
}
.same__size__images{
  height: 370px;
}
.mixer__image{
  height: 370px;
}
.purchase__price__color{
  width: 70%;
}
.first__form{
  width: 90%;
}
.arrow_left{
  position: relative;
  bottom: 60px;
  left: 73.5%;
}
.arrow_right{
  position: relative;
  left: 83.5%;
  bottom: 84px;
  
}

}
@media (min-width: 769px) and (max-width: 1024px){
  /* body{
    display: none;
  } */
.purchase__price__color{
  /* background-color: #d35266; */
  width: 80%;
}
.ropdown-toggle,
.search__for,
.country{
  font-size: 0.8rem;
}
.nav__items__list{
  width: 85%;
}
.width__small_purchase_list{
  width: 120px;
}
.font__on__small{
  font-size: 0.7rem;
}
.width__small {
  width: 57px;
} 
.width__music__small{
 width: 55px;
}
.width__small_collection{
 width: 110px;
}
.arrow_left{
  /* position: relative;
  bottom: 60px; */
  left: 80.5%;
}
}