
@font-face {
  font-family: gotham-bold;
  src: url(/assets/fonts/GothamBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: gotham-light;
  src: url(/assets/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvetica-light;
  src: url(/assets/fonts/HelveticaNeue-Light.ttf);
}

@font-face {
  font-family: helvetica-medium;
  src: url(/assets/fonts/HelveticaNeue-Medium.ttf);
}

@font-face {
  font-family: helvetica-bold;
  src: url(/assets/fonts/HelveticaNeue-Bold.ttf);
}

.font-gotham-light {
  font-family: "gotham-light", "gotham-bold", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.gotham-bold {
  font-weight: 400;
}

.font-helvetica-light {
  font-family: "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica-medium {
  font-family: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;
}

.font-helvetica-bold {
  font-family: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;
}

body {
  font-family: "gotham-bold", "gotham-light", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

.navbar {
  background-color: #080707;
}

.gliding-menu {
  background-image:
    linear-gradient(270deg, rgba(211, 82, 102, 0.4037990196) 0%, rgba(211, 82, 102, 0.8043592437) 25%, rgba(211, 82, 102, 0.8015581232) 75%, rgba(211, 82, 102, 0.6334908964) 92%),
    url("/assets/images/music_logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home-icon {
  background: #d35266;
}

.color-red {
  color: #d35266;
}

.fa-music {
  font-size: 24px;
}

.background-grey {
  background-color: #f2f2f2;
}

.rounded-prev {
  bottom: 120px;
  left: -10%;
  border-radius: 15px;
}

.all-instruments,
.fa-home,
.fa-music {
  color: #d35266;
}

.color-grey,
.background-grey-2 {
  background-color: rgb(104, 101, 101);
}

.text-grey {
  color: rgb(104, 101, 101);
}

input::placeholder {
  background-color: white;
  color: #888;
  font-family: "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
}

select {
  border: none;
  background-color: white;
}

/* MAIN-SECTION */
.background-color-red {
  background-color: #d35266;
}

.relative {
  position: relative;
}

.input-properties-1 {
  width: 100%;
  border: 5px solid white;
}

.input-properties-2 {
  border: 5px solid white;
  width: 100px;
}

#cars {
  padding-top: 10px;
  border: 5px solid white;
}

.border-red-right {
  border-right: 2px solid #d35266;
}

.width-100 {
  width: 100%;
}

.search-btn {
  height: 45px;
}

.price-tag {
  width: 80px;
  border-radius: 8px;
}

.color-helvetica-grey {
  color: #888;
}

.color-helvetica-black {
  color: #383838;
}

.next-prev {
  top: -2px;
  left: 80%;
}

.next-prev-width {
  width: 40px;
}

.background-black {
  background-color: #383838;
}

.bt-g {
  border-top: 1px solid  rgb(168, 164, 164);
}

.br-g {
  border-right: 1px solid rgb(168, 164, 164);
}

.bb-g {
  border-bottom: 1px solid rgb(168, 164, 164);
}

.previous,
.next {
  width: 20px;
}

@media (max-width: 567px) {
  .border-red-right {
    border-right: 0;
  }

  .nav-list-1 {
    display: flex;
    width: 200px;
  }

  .navbar {
    display: flex;
    align-content: center;
    align-items: center;
  }

  .all-instruments {
    display: none;
  }

  /* .checkbox-options {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  } */

  .b-567 {
    border-bottom: 1px solid  rgb(168, 164, 164);
  }

  .br-g {
    border-right: 1px solid rgb(168, 164, 164);
  }

  .bb-g {
    border-bottom: 1px solid rgb(168, 164, 164);
  }

  @media (max-width: 768px) {
    .checkbox-options {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .all-instruments {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    .nav-list-1 {
      width: 400px;
    }
  }
}
